html,
body {
    height: 100%;
    overflow-x: hidden;
}

.centralise {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
select,
:not(input[type="radio"]) {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
}

input[type="radio"]{
    margin: 8px;
}

input[type="checkbox"] {
    width: 20px;
}

input[type="submit"],
input[type="button"] {
    background-color: #4285f4;
}

.blinking {
    animation: blinkingText 2s infinite;
}
@keyframes blinkingText {
    0% {
        color: red;
    }
    50% {
        color: transparent;
    }
    100% {
        color: red;
    }
}

.show_question {
    display: inherit;
}
.hide_question {
    display: none;
}

.radioLeft{
    text-align:left;
}

.green {
    color: green !important;
}

.red {
    color: red !important;
}

.dark {
    color: rebeccapurple;
}

.list-group,
.list-group-item {
    border: none;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 98%;
}
