<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.css" />
        <link rel="stylesheet" href="../static/css/styles.css" />
        <link rel="icon" href="../static/images/icon.jpg" />
        <title>Questions | Exam Portal</title>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9"></div>
                <div class="col-lg-3 text-right">
                    <b>Time Remaining: </b><span id="timer"></span>
                </div>
            </div>
            <hr />
            <div class="row">Questions</div>
        </div>
        <script>
            let remainingTime = 10 * 60; //this is in seconds
            renderTime(remainingTime);
            function renderTime() {
                var minutes = Math.floor(remainingTime / 60);
                var seconds = minutes == 0 ? remainingTime : remainingTime % 60;
                var timer = document.getElementById("timer");
                timer.innerHTML = minutes + " min " + seconds + " sec ";
                if (remainingTime <= 60) {
                    timer.className = "blinking";
                }
                remainingTime -= 1;
                if (remainingTime >= 0) setTimeout(renderTime, 1000);
                else {
                    timer.style.color = "red";
                    timer.className = "";
                    alert("Time's Up!");
                }
            }
        </script>
    </body>
</html>
