<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.css" />
        <link rel="stylesheet" href="../static/css/styles.css" />
        <link rel="icon" href="../static/images/icon.jpg" />
        <title>Questions | Exam Portal</title>
    </head>
    <body>
        <?php     
            include '../db/db_connection.php';
            $conn= OpenCon();
            
            // var_dump($_REQUEST);

            session_start();
            if($_SESSION['sid']!=session_id() || !isset($_POST['exam_id'])){
                header("location:homePage.html");
            }
            $exam_results_query = "select result from ExamResult where exam_id = " .
                                                        $_POST['exam_id'] .
                                                      " AND student_id LIKE '" . 
                                                      "{$_SESSION['email_id']}'";
                                
            $result = mysqli_query($conn,$exam_results_query);
            if(mysqli_num_rows($result) > 0){
                header("location:instructionPage.html");
            }
        ?>
        <?php
            //restore
        ?>

        <div class="container-fluid" style="height: 100%; width:98%;">
            <div
                class="row"
                style="border-bottom:solid black; align-items: center"
            >
                <div class="col-lg-2"></div>
                <div class="col-lg-8 text-center">
                    <h5>
                        <span id="exam_name">
                            <?php 
                                $conn= OpenCon();
                                $exam_id = mysqli_real_escape_string($conn,$_POST['exam_id']);

                                $exam_name_query ='select exam_name from ExamType where exam_id ='. $exam_id;
                                $result =  mysqli_query($conn,$exam_name_query);
                                $row = $result->fetch_assoc();
                                echo $row['exam_name']; 
                            ?>
                        </span>
                    </h5>
                </div>
                <div
                    class="col-lg-2 font-weight-light"
                    style="text-align: right"
                >
                    <span id="student_name">
                        <?php 
                        echo $_SESSION['first_name']." ".$_SESSION['last_name'];
                        ?>
                    </span><br />
                    <span id="student_branch">
                        <?php
                        echo $_SESSION['course'];
                        ?>
                    </span>
                </div>
            </div>
            <div class="row">                
                <div
                    class="col-lg-9"
                    style="border: 1px solid black; margin-top: 60px"
                >
                    <form
                        action="../static/php/resultPage.php"
                        method="post"
                        id="exam_form"
                    >
                    <!-- Each div below must be generated by php -->
                 <?php     
                    $conn= OpenCon();
                    $exam_id = mysqli_real_escape_string($conn,$_POST['exam_id']);
                    echo '
                    <input name="exam_id" value="'.$_POST['exam_id'].'" hidden>';

                    // var_dump($_REQUEST);
                   
                    $get_progress = "select progress from ExamAttempt where exam_id='{$exam_id}' AND student_id LIKE '" . 
                                                      "{$_SESSION['email_id']}'"; 
                    $result_prev = mysqli_query($conn,$get_progress);
                    

                    $exam_question_query ="select question,choices,correct from
                    QuestionBank where exam_id='{$exam_id}'";
                    echo $get_progress;
                    $result = mysqli_query($conn,$exam_question_query);
                    $total_count = mysqli_num_rows($result);

                    $progressString ="";

                    if(mysqli_num_rows($result_prev) == 0){
                        for($i=0;$i<$total_count;$i++)
                            $progressString .= "0";
                    } else {
                        $row_prev = $result_prev->fetch_assoc();
                        $progressString = $row_prev['progress'];
                    }
                    echo $progressString;
                    $q_no = 0;
                    foreach($result as $row){
                        $q_no += 1;
                        if($q_no==1){
                            $displayToggle="show_question row";
                        } else {
                            $displayToggle = "hide_question row";
                        }
                        $return = '
                        <div id="'.$q_no.'" class="row '.$displayToggle.'">
                                ';
                            $return .='
                            <div
                            class="col"
                            style="height:400px; overflow-y: scroll;"
                            >';
                                $return .= '
                                <h6>Question <span>'.$q_no.'</span></h6>
                                <hr>
                                <span>'.$row['question'] . '
                                </span>
                                <hr />
                            ';
                            $choices = explode('|',$row['choices']);
                            $ans_no = 1;
                            foreach($choices as $option){
                                if($progressString[$q_no-1] == $ans_no){
                                    //this is what they selected before
                                    $checked="checked";
                                } else {
                                    $checked = "";
                                }

                                $return .=
                                 '<div class="radio">
                                     <label>
                                        <input
                                        type="radio"
                                        name="q_no'.$q_no.'"
                                        value="'. $ans_no.'"
                                        '.$checked .
                                        '/>';
                            $return .= $option .
                                '   </label>
                                </div>';
                            $ans_no+=1;
                            }

                            $return .= '
                            </div>
                            ';

                        $return .= '
                        </div>
                        ';

                        echo $return;
                    }
                    // ?>
                        <div class="row">
                            <div class="col">
                                <button class="btn"
                                    id="prev" 
                                    type="button" disabled
                                >
                                    &larr; Prev
                                </button>
                                <button
                                    class="btn text-white"
                                    type="button"
                                    onclick="saveProgress()"
                                    id="save"
                                    style="background-color:green;"
                                >
                                    Save
                                </button>
                                <button
                                    class="btn text-white"
                                    type="button"
                                    id="review"
                                    style="background-color:orange;"
                                >
                                    Review
                                </button>
                                <button
                                    class="btn text-white"
                                    id="reset"
                                    type="button"
                                    style="background-color:red;"
                                >
                                    Reset Answer
                                </button>
                                <!-- Below button can be changed to finish on last question -->
                                <button 
                                    type="button"
                                    class="btn"
                                    id="next"
                                >
                                    Next &rarr;
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3" style="margin-top: 60px">
                        <div
                            class="row text-center"
                            style="background-color:gainsboro;"
                            id="timer"
                        >
                            <div class="col"><span id="hour">0</span></div>
                            <div class="col"><span id="minute">24</span></div>
                            <div class="col"><span id="second">30</span></div>
                        </div>
                        <div
                            class="row text-center"
                            style="background-color:gainsboro"
                        >
                            <div class="col">Hours</div>
                            <div class="col">Minutes</div>
                            <div class="col">Seconds</div>
                        </div>

                        <div class="row">
                            <div
                                class="col"
                                style="text-align: center; margin-top: 20px"
                            >
                                <button style="border-radius: 100%">1</button>
                                <button style="border-radius: 100%">2</button>
                                <button style="border-radius: 100%">3</button>
                                <button style="border-radius: 100%">4</button>
                                <button style="border-radius: 100%">5</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button
                                    type="submit"
                                    class="btn btn-danger"
                                    style="box-sizing:border-box; width:100%; margin-top: 20px"
                                >
                                    Finish
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <ul class="list-group">
                                    <li class="list-group-item text-secondary">
                                        Legend
                                        <hr />
                                    </li>
                                    <li class="list-group-item">
                                        <span
                                            class="dot"
                                            style="background-color:blue;"
                                        ></span>
                                        &nbsp;&nbsp;&nbsp;Current Question
                                    </li>
                                    <li class="list-group-item">
                                        <span
                                            class="dot"
                                            style="background-color:grey;"
                                        ></span
                                        >&nbsp;&nbsp;&nbsp;Not Attempted
                                    </li>
                                    <li class="list-group-item">
                                        <span
                                            class="dot"
                                            style="background-color:green;"
                                        ></span
                                        >&nbsp;&nbsp;&nbsp;Answered
                                    </li>
                                    <li class="list-group-item">
                                        <span
                                            class="dot"
                                            style="background-color:yellow;"
                                        ></span
                                        >&nbsp;&nbsp;&nbsp;Not Answered
                                    </li>
                                    <li class="list-group-item">
                                        <span
                                            class="dot"
                                            style="background-color:red;"
                                        ></span
                                        >&nbsp;&nbsp;&nbsp;Review
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row" id="footer">
                <div class="col">
                    <span class="text-primary">Copyright &copy;</span>
                    2019 Exam Portal
                </div>
                <div class="col text-center">
                    <b>Time</b> <span id="date"></span>
                </div>
                <div class="col text-right">
                    Powered by <span class="text-info">OracleBuds</span>
                </div>
            </div>
        </div>
        <form id="progressForm" action="instructionPage.html" method="POST">
            <input type="text" id="progessInput" name="savedProgress" value="start" hidden>
            <input type="text" id="time_left" name="time_left" value="1000" hidden>
            <?php     
                $conn= OpenCon();
                $exam_id = mysqli_real_escape_string($conn,$_POST['exam_id']);
                echo '
                <input type="text" name="exam_id" value="'.$_POST['exam_id'].'" hidden>';
            ?>
        </form>
        <script>
            var blinkOn = 0;
            var time_left;
            function remainingTime(time_limit) {
                time_left = time_limit;
                if (time_limit < 0) return 0;
                if (!blinkOn && time_limit < 300) {
                    blinkOn = 1;
                    document.getElementById("timer").classList.add("blinking");
                }
                var temp = time_limit;
                document.getElementById("hour").innerText = Math.floor(
                    time_limit / 3600
                );
                time_limit %= 3600;
                document.getElementById("minute").innerText = Math.floor(
                    time_limit / 60
                );
                time_limit %= 60;
                document.getElementById("second").innerText = time_limit;
                setTimeout(function() {
                    remainingTime(temp - 1);
                }, 1000);
            }
            function setTime() {
                document.getElementById(
                    "date"
                ).innerText = new Date().toTimeString();
                setTimeout(setTime, 1000);
            }

            function getTime(){
                return time_left;
            }

            setTime();
            //remainingTime(600); //call this with the exam's time limit
            <?php
             $conn= OpenCon();
             $exam_id = mysqli_real_escape_string($conn,$_POST['exam_id']);


             $get_remaining_time = "select time_left from ExamAttempt where exam_id='{$exam_id}' AND student_id LIKE '" . 
             "{$_SESSION['email_id']}'"; 

             $result = mysqli_query($conn,$get_remaining_time);

             if(mysqli_num_rows($result) == 0){
                $exam_time_query ="select time_limit_sec from ExamType where exam_id = '{$exam_id}' LIMIT 1";
                $result = mysqli_query($conn,$exam_time_query);
   
                $row = $result->fetch_assoc();
                $time = $row['time_limit_sec'];
             } else {
                $row = $result->fetch_assoc();
                $time = $row['time_left'];
             }
                
             echo "remainingTime(".$time.");";


             
            ?>

             //onlick listener on prev, get byclassname show, get the id, then + 1 etc logic here

             document.getElementById("next").addEventListener("click", showNextQuestion); 
             document.getElementById("prev").addEventListener("click", showPrevQuestion); 

            var max_q_no = <?php
                            $conn= OpenCon();
                            $exam_id = mysqli_real_escape_string($conn,$_POST['exam_id']);
                            $exam_question_query ="select correct from
                            QuestionBank where exam_id='{$exam_id}'";
                            $result = mysqli_query($conn,$exam_question_query);
                            $total_count = mysqli_num_rows($result);
                            echo $total_count;
                            ?>
                    ;
            function showNextQuestion() {
                var current = document.getElementsByClassName("show_question");
                var q_no = current[0].id;

                document.getElementById("prev").disabled = false;

                if(parseInt(q_no)+1 == max_q_no){
                    document.getElementById("next").disabled = true;
                }
                document.getElementById(q_no).className = "hide_question";
                q_no = parseInt(q_no)+1;
                document.getElementById(q_no).className = "show_question row";
                
            }
            function showPrevQuestion() {

                var current = document.getElementsByClassName("show_question");
                var q_no = current[0].id;
                if(parseInt(q_no) == max_q_no){
                    document.getElementById("next").disabled = false;
                }
                if(parseInt(q_no)-1 == 1){
                    document.getElementById("prev").disabled = true;
                }
                document.getElementById(q_no).className = "hide_question";
                q_no = parseInt(q_no)-1;
                document.getElementById(q_no).className = "show_question row";
            }

            function saveProgress(){
                var stringProgress = "";
                var i = 1;
                for(i=1; i <= max_q_no; i++){
                 //for each radio group: q_no1, q_no2 etc, get the value;
                    var radioGroup = "q_no"+i;
                    var question = document.getElementsByName(radioGroup);
                    // console.log(radioGroup);
                    var selectedOption ="0";
                    for(var j = 0; j < question.length; j++) {
                        if(question[j].checked){
                            selectedOption = question[j].value;
                        }
                    }
                    //console.log(selectedOption);
                    stringProgress+=selectedOption;
                    //TODO get if it's set for review
                }
                console.log(stringProgress);
                document.getElementById("progessInput").value = stringProgress;

                document.getElementById("time_left").value = getTime();
                document.getElementById('progressForm').submit();

            }
            // TODO on tab close, or back button, or refresh
            // saveProgress();
            // window.onunload = saveProgress;
        </script>
    </body>
</html>
