<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.css" />
        <link rel="stylesheet" href="../static/css/styles.css" />
        <link rel="icon" href="../static/images/icon.jpg" />
        <title>Questions | Exam Portal</title>
    </head>
    <body>
        <div class="container-fluid" style="height: 100%; width:98%;">
            <div
                class="row"
                style="border-bottom:solid black; align-items: center"
            >
                <div class="col-lg-2"></div>
                <div class="col-lg-8 text-center">
                    <h5>
                        <span id="exam_name">LAMP STACK</span>
                    </h5>
                </div>
                <div
                    class="col-lg-2 font-weight-light"
                    style="text-align: right"
                >
                    <span id="student_name">Sandeep Gupta</span><br />
                    <span id="student_branch">B. Tech</span>
                </div>
            </div>
            <div class="row">
                <div
                    class="col-lg-9"
                    style="border: 1px solid black; margin-top: 60px"
                >
                    <div class="row">
                        <div
                            class="col"
                            style="height:400px; overflow-y: scroll;"
                        >
                            <h6>Question <span id="question_no">1</span></h6>
                            <hr />
                            <span id="question">
                                The dark coloured outer edge of the cheek cell
                                is called?</span
                            >
                            <hr />
                            <input type="checkbox" />
                            <span id="option_1">cell membrane</span> <br />
                            <input type="checkbox" />
                            <span id="option_2">cytoplasm</span> <br />
                            <input type="checkbox" />
                            <span id="option_3">nucleus</span> <br />
                            <input type="checkbox" />
                            <span id="option_4">cell wall</span> <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn" id="prev">
                                &larr; Prev
                            </button>
                            <button
                                class="btn text-white"
                                id="save"
                                style="background-color:green;"
                            >
                                Save
                            </button>
                            <button
                                class="btn text-white"
                                id="save"
                                style="background-color:orange;"
                            >
                                Review
                            </button>
                            <button
                                class="btn text-white"
                                id="reset"
                                style="background-color:red;"
                            >
                                Reset Answer
                            </button>
                            <!-- Below button can be changed to finish on last question -->
                            <button class="btn" id="next">Next &rarr;</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3" style="margin-top: 60px">
                    <div
                        class="row text-center"
                        style="background-color:gainsboro;"
                        id="timer"
                    >
                        <div class="col"><span id="hour">0</span></div>
                        <div class="col"><span id="minute">24</span></div>
                        <div class="col"><span id="second">30</span></div>
                    </div>
                    <div
                        class="row text-center"
                        style="background-color:gainsboro"
                    >
                        <div class="col">Hours</div>
                        <div class="col">Minutes</div>
                        <div class="col">Seconds</div>
                    </div>

                    <div class="row">
                        <div
                            class="col"
                            style="text-align: center; margin-top: 20px"
                        >
                            <button style="border-radius: 100%">1</button>
                            <button style="border-radius: 100%">2</button>
                            <button style="border-radius: 100%">3</button>
                            <button style="border-radius: 100%">4</button>
                            <button style="border-radius: 100%">5</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button
                                class="btn btn-danger"
                                style="box-sizing:border-box; width:100%; margin-top: 20px"
                            >
                                Finish
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ul class="list-group">
                                <li class="list-group-item text-secondary">
                                    Legend
                                    <hr />
                                </li>
                                <li class="list-group-item">
                                    <span
                                        class="dot"
                                        style="background-color:blue;"
                                    ></span>
                                    &nbsp;&nbsp;&nbsp;Current Question
                                </li>
                                <li class="list-group-item">
                                    <span
                                        class="dot"
                                        style="background-color:grey;"
                                    ></span
                                    >&nbsp;&nbsp;&nbsp;Not Attempted
                                </li>
                                <li class="list-group-item">
                                    <span
                                        class="dot"
                                        style="background-color:green;"
                                    ></span
                                    >&nbsp;&nbsp;&nbsp;Answered
                                </li>
                                <li class="list-group-item">
                                    <span
                                        class="dot"
                                        style="background-color:yellow;"
                                    ></span
                                    >&nbsp;&nbsp;&nbsp;Not Answered
                                </li>
                                <li class="list-group-item">
                                    <span
                                        class="dot"
                                        style="background-color:red;"
                                    ></span
                                    >&nbsp;&nbsp;&nbsp;Review
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="footer">
                <div class="col">
                    <span class="text-primary">Copyright &copy;</span>
                    2019 Exam Portal
                </div>
                <div class="col text-center">
                    <b>Time</b> <span id="date"></span>
                </div>
                <div class="col text-right">
                    Powered by <span class="text-info">OracleBuds</span>
                </div>
            </div>
        </div>
        <script>
            var blinkOn = 0;
            function remainingTime(time_limit) {
                if (time_limit < 0) return 0;
                if (!blinkOn && time_limit < 300) {
                    blinkOn = 1;
                    document.getElementById("timer").classList.add("blinking");
                }
                var temp = time_limit;
                document.getElementById("hour").innerText = Math.floor(
                    time_limit / 3600
                );
                time_limit %= 3600;
                document.getElementById("minute").innerText = Math.floor(
                    time_limit / 60
                );
                time_limit %= 60;
                document.getElementById("second").innerText = time_limit;
                setTimeout(function() {
                    remainingTime(temp - 1);
                }, 1000);
            }
            function setTime() {
                document.getElementById(
                    "date"
                ).innerText = new Date().toTimeString();
                setTimeout(setTime, 1000);
            }
            setTime();
            remainingTime(305); //call this with the exam's time limit
        </script>
    </body>
</html>
