<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/styles.css">
        <title>Welcome | Exam Portal</title>
    </head>
    <body>
        <form action="">
            <fieldset>
                <legend>Sign In</legend>
                <fieldset>
                <legend>Enter your credentials:</legend> 
                    Username: <input type="text" required> <br>
                    Password: <input type="password" required> <br>
                </fieldset>
                <input type="submit" value="Login">
                <input type="button" value="Sign-up" onclick="location.href = './registrationPage.html'"> <br>
                
                <a href="">Forgot Password?</a>
            </fieldset>
        </form>
    </body>
</html>