<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.css" />
        <link rel="stylesheet" href="../static/css/styles.css" />
        <link rel="icon" href="../static/images/icon.jpg" />
        <title>Welcome | Exam Portal</title>
    </head>
    <body>
        <?php
            session_start();
            if($_SESSION['sid']==session_id()){
                header("location:instructionPage.html");
            }
            
        ?>
        <div
            class="container-fluid centralise text-white font-weight-bold"
            style="background-image:url(../static/images/book.jpg); background-size:cover;"
        >
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="container-fluid">
                        <form action="../static/php/homePage.php" method="post">
                            <div class="row" style="margin-bottom: 50px">
                                <div class="col">
                                <?php
                                    if(isset($_SESSION['registered'])){
                                        if($_SESSION['registered']){
                                            echo "<div class='green text-center'>Registered successfully!</div>";
                                        } else {
                                            echo "<div class='red text-center'>Could not register you! Please contact an admin.</div>";
                                        }
                                        unset($_SESSION['registered']);
                                    }
                                    if(isset($_SESSION['w_email'])){
                                        if($_SESSION['w_email']){
                                            echo "<div class='red text-center'>Unregistered email-id, Please signup!</div>";
                                        }
                                        unset($_SESSION['w_email']);
                                    }
                                    if(isset($_SESSION['w_password'])){
                                        if($_SESSION['w_password']){
                                            echo "<div class='red text-center'>Wrong password, try again!</div>";
                                        }
                                        unset($_SESSION['w_password']);
                                    }
                                ?>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div
                                    class="col-lg-6"
                                    style="text-align:center; vertical-align:middle;"
                                >
                                
                                    <legend>Sign In</legend>
                                    <div style="font-weight:lighter;">
                                        With your ExamPortal Account
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                Username:
                                <input
                                    type="email"
                                    name="email_id"
                                    placeholder="Email Address (abc@xyz.com)"
                                    required
                                />
                                <br />
                                Password:
                                <input
                                    type="password"
                                    name="password"
                                    required
                                />
                                <br />
                                <input
                                    type="submit"
                                    class="btn"
                                    value="Login"
                                />
                                <input
                                    type="button"
                                    class="btn"
                                    value="Sign-up"
                                    onclick="location.href = './registrationPage.html'"
                                />
                                <br />
                                <!-- <a href="">Forgot Password?</a> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
