<!DOCTYPE html>
<html>
    <head>
        <title>Instructions | Exam Portal</title>
    </head>
    <body>
        <h1>Instructions</h1>

        <ol>
            <li>
                Check your browser options before the test to ensure that it is
                not set to disconnect after several minutes of inactivity.
            </li>
            <li>
                Do not use the "Back" button on Your browser during the test
                once you have begun taking the exam. Instead, use the scroll bar
                to move back to check earlier questions.
            </li>
            <li>Don't close the window of the test for any reason.</li>
            <li>
                Review all of your answers before submitting the exam. Make sure
                you have not accidentally changed your response to a question.
            </li>
            <li>
                When you are satisfied with the result make sure you finish by
                clicking the SUBMIT button at the bottom of the screen. Click
                the Submit Button ONLY ONCE! After you submit the test answers,
                you will receive a score unless you have exceeded the time limit
                for the quiz.
            </li>
            <li>
                The result will be displayed once the time runs out or you
                finish the test, whichever happens first.
            </li>
        </ol>
        <button>Begin Test!</button>
    </body>
</html>
