<!DOCTYPE html>
<html>

<head>
    <title>Instructions | Exam Portal</title>
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="icon" href="../static/images/icon.jpg" />
</head>

<body style="background-color:#f7f9fc">
    <div class="container-fluid">
        <div class="row" style="border-bottom: solid; background-color: #064cc2">
            <div class="col-lg-9"></div>
            <div class="col-lg-3 text-right">
                <a href="./logoutPage.html" class="btn btn-link text-white">Logout</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4" style="margin-block-start: 55px; border:4px dotted;">
                <?php
                    include '../db/db_connection.php';
                    //var_dump($_POST);
                    session_start();
                    if($_SESSION['sid']!=session_id()){
                        header("location:homePage.html");
                    }

                    $conn= OpenCon();

                    if(isset($_POST['savedProgress'])){
                        //send query to ExamAttempt
                        $exam_id = mysqli_real_escape_string($conn,$_POST['exam_id']);
                        $insert_query = "REPLACE into ExamAttempt(id, exam_id, student_id, progress, time_left) ".
                        "values('{$_SESSION['email_id']}".$exam_id."','${exam_id}', '{$_SESSION['email_id']}', '{$_POST['savedProgress']}','{$_POST['time_left']}')";
                        // echo $insert_query;
                        if(mysqli_query($conn,$insert_query)){
                            echo "<br><p class='green'>Successfully saved your progress! </p>";
                        }
                        else {
                            echo "<br><p class='red'>Could not save your progress :( </p>";
                        }
                        
                    }
                    ?>
                <h2>Instructions</h2>
                <ol>
                    <li>
                        Check your browser options before the test to ensure
                        that it is not set to disconnect after several
                        minutes of inactivity.
                    </li>
                    <li>
                        Do not use the "Back" button on Your browser during
                        the test once you have begun taking the exam.
                        Instead, use the scroll bar to move back to check
                        earlier questions.
                    </li>
                    <li>
                        Don't close the window of the test for any reason.
                    </li>
                    <li>
                        Review all of your answers before submitting the
                        exam. Make sure you have not accidentally changed
                        your response to a question.
                    </li>
                    <li>
                        When you are satisfied with the result make sure you
                        finish by clicking the SUBMIT button at the bottom
                        of the screen. Click the Submit Button ONLY ONCE!
                        After you submit the test answers, you will receive
                        a score unless you have exceeded the time limit for
                        the quiz.
                    </li>
                    <li>
                        The result will be displayed once the time runs out
                        or you finish the test, whichever happens first.
                    </li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <form action="examinationPageLayout.html" method="post">
                    <?php 
                            session_start();
                            
                            $conn= OpenCon(); 

                            $exam_ids_query ='select * from ExamType';
                            $result = mysqli_query($conn,$exam_ids_query);

                            $return = "<br  ><br /><h4>Select an exam:</h4><br />";
                            $return .= '<table id ="exam_table" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Duration (sec)</th>
                                                    <th>Status</th>
                                                    <th>Score</th>
                                                </tr>
                                            </thead>
                                            <tbody>';

                            foreach($result as $row){ 
                                $exam_id = $row['exam_id'];
                            
                                $exam_results_query = "select * from ExamResult where exam_id = " .
                                                       $row['exam_id'] .
                                                      " AND student_id LIKE '" . 
                                                      "{$_SESSION['email_id']}'";
                                $result_2 = mysqli_query($conn,$exam_results_query);

                                if(mysqli_num_rows($result_2) == 0){
                                    $return .= "<tr id = " .$row['exam_id']. ">" .
                                                    "<td><button class='btn btn-link' type='submit' name='exam_id' value='" . $row['exam_id'] . "'>" . 
                                                    $row['exam_name'] . "</button>
                                                    </td>" . 
                                                    "<td>". $row['time_limit_sec'] ."</td>";
                                        $return .=  '<td> Not submitted </td>'.
                                                     '<td>N/A</td>';
                                } else {
                                    $return .= "<tr id = " .$row['exam_id']. ">" .
                                                    "<td><button disabled class='btn btn-link' type='submit' name='exam_id' value='". $row['exam_id'] . "'>" . 
                                                    $row['exam_name'] . "</button></td>" . 
                                                    "<td>" . $row['time_limit_sec'] . "</td>";
                                                    $row = $result_2->fetch_assoc(); 
                                                    $score = $row['result']; 
                                                    
                                        $return .=  '<td> Submitted </td>'.
                                                    '<td>'. $score .'</td>';
                                } 
                                    $return .= "</tr>";
                            }
                            echo $return .  "</tbody></table>" ; 
                        ?>

                        
                </form>
            </div>
        </div>
    </div>

</body>

</html>