<!DOCTYPE html>
<html>
    <head>
        <title>Logging Out | Exam Portal</title>
        <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.css" />
        <link rel="stylesheet" href="../static/css/styles.css" />
        <link rel="icon" href="../static/images/icon.jpg" />
    </head>
    <body>
        <?php
            session_start() ;
            session_destroy();
        ?>
        <div
            class="container"
            style="display:flex; height: 70%; justify-content: center; align-items:center"
        >
            <div class="row">
                <div class="col">
                    <img
                        class="img-responsive"
                        src="../static/images/thankYou.png"
                        alt="Thank You!"
                    />
                </div>
            </div>
        </div>
        <div
            class="container"
            style="display:flex; height: 30%; justify-content: center; align-items:center"
        >
            <div class="row">
                <div class="col text-info">
                    Redirecting to Homepage in
                    <span id="timer">5</span> seconds..
                </div>
            </div>
        </div>
        <script>
            const decrementTime = () => {
                document.getElementById("timer").innerText =
                    parseInt(document.getElementById("timer").innerText) - 1;
                setTimeout(decrementTime, 1000);
            };
            setTimeout(decrementTime, 1000);
            setTimeout(() => {
                window.location.replace("./homePage.html");
            }, 5000);
        </script>
    </body>
</html>
