<!DOCTYPE html>
<html>
    <head>
        <title>User Registration</title>
    </head>
    <body>
        <form action="">
            <fieldset>
                <legend>USER REGISTRATION</legend>
                <fieldset>
                <legend>Personal Information:</legend> 
                    First Name: <input type="text" required> <br>
                    Last Name: <input type="text" required> <br>
                    DOB: <input type="date" required> <br>
                    Email: <input type="email"> <br>
                    Mobile: <input type="tel"> <br>
                    Password: <input type="password"> <br>
                </fieldset>
                <fieldset>
                    <legend>Educational Information:</legend> 
                    Qualification: <br>
                    College/University: <br>
                </fieldset>
                <input type="submit" value="Register">
            </fieldset>
        </form>
    </body>
</html>